.event{
    position : relative;
    isolation : isolate;
    margin: 50px 0px;

    &_imgBox{
        width: 100%;
        height: 30%;
        margin-bottom: 2px;

        &_img{
            object-fit: cover;
            object-position: top center;
            width: 100%;
            max-height: 400px;
            //filter: blur(3px);
            filter: brightness(30%);
            //mask-image: linear-gradient(black, transparent);
        }
    }

    &_title{
        position : absolute;
        top  : 14%;
        left : 50%;
        width : 50%;
        z-index: 1;
        margin: 0 auto;
        transform: translate(-50%,-50%);
        border-radius: 10px;
        max-height: fit-content;
        font-family: $font-teko, sans-serif;
        text-align: center;
        background-color : rgba(117, 115, 117, 0.5);
    }

    &_calendarBox{
        background-color: rgba(8, 6, 1, 1);
        padding: 30px 0px 30px 0px;

        background-image: url("../../public/storage/assets/img_bg_2.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; 
        background-attachment: fixed;
        box-shadow: inset 0 0 0 100vmax $color-rgba_darkPurple-1;

        &_mothBox{
            margin: 0 auto;
            padding: 20px;
            width: 80%;

            &_mothName{
                font-family: $font-arvo;
                border-bottom: 1px solid $color-orange;
            }

            &_eventContainer{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 100%;
                padding: 20px;

                &_eventCard{
                    border-left: 3px solid $color-orange;
                    width : 20%;
                    padding: 0px 5px 0px 5px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    
                    &_title{
                        padding: 0px 0px 5px 0px;
                        
                    }

                    &_date{
                        color : white;
                    }
                    &_hour{
                        color : white;
                    }
                    &_venue{
                        color : white;
                        padding: 5px 0px 0px 0px;
                        justify-self : start;
                    }

                }
            }

        }
    }

}