.h_2{
    color : $color-orange;
    font-size : $h2;
    text-align: center;
}

.title-h2{
    color : $color-orange;
    font-size : $h2;
    font-weight : bold;
    text-align: center;
    padding : 40px 0px 40px 0px;
}

.h_3{
    color : $color-orange;
    font-size : $h3;
}

.h_4{
    color : $color-orange;
    font-size : $h4;
}

.verse_p2{
    font-size : $p6;
}