.h_2{
    color : $color-orange;
    font-size : $h2;
    text-align: center;
}

.title-h2{
    color : $color-orange;
    font-size : $h2;
    font-weight : bold;
    text-align: center;
    padding : 50px 0px 50px 0px;
}

.h_3{
    color : $color-orange;
    font-size : $h3;
}