.nav-h{
    display : flex;
    justify-content: center;
    align-items: center;

    &_logoContainer{
        padding-right : 50px;
        &_logo{
            max-width :80px;
            max-height :80px;
        }
    }

    &_item-container{
        &_item{
            display : inline-block;
            font-size : calc(1rem + 0.3vw);
            padding: 1px;
            
            a {
                padding : 8px;
                transition: .2s linear;
            }

            a:hover{
               background-color : $color-darkPurple;
                color : white;
                font-weight: bold;

                border-radius : 5px;
            }
        }
    }
}

.bannerHeader{
    position: relative;

    &_container-homeTitle{
        position: absolute;
        left: 60px;
        top : 100px;
        overflow: hidden;
        z-index: 2;
        width: fit-content;

        display : flex;
        flex-direction: column;
        justify-content: center;
        align-items : center;

        //padding: 60px 0px 0px 30px;
        text-align: justify;

        &_h1{
            font-family: $font-teko;
            font-size: $h1;
            color : $color-orange;
            font-weight : bolder;
            line-height : 1;
            letter-spacing : 1px;
        }
        &_h5{
            font-size: $h4;
            color : $color-orange;
            letter-spacing : 1px;
        }

        &_bibleImg{
            width: 3rem;
            height: 3rem;
        }

        &_verse{
            font-size : $p5;
            color : white;
            letter-spacing : 2px;
        }

    }

    &_bgImg-container{
        overflow: hidden;
        &_photo{
            object-fit: cover;
            display: block;

            animation : zoom_inout 30s infinite ease-in;
        }

        &_purpleTrapeze{
            position: absolute;
            top: 0;
            left: 0;
            width: 60%;
            height: 100%;
            z-index: 1;
            animation: 2s reverse width-grow;
        }
    }

    //Title of the current page ---------------------
    
    &_pageTitle-box{
        position : absolute;
        top : 25%;
        right : 20%;
        z-index: 3;

        &_titleContainer{
            width : 300px;
            height : 300px;
            border-radius: 50%;
            background-color: rgba(255,255,255,.9);
            
            display : flex;
            justify-content: center;
            align-items: center;
            
            &_title{
                font-family: $font-exo2;
                //font-size: $h1;
                color : $color-darkOrange;
                font-weight : bolder;
                text-align: center;
                padding : 0px 10px 0px 10px;

            }

        }
    }
} 


@keyframes width-grow {
    from {
      width: 60%;
    }
    to {
      width: 100%;
    }
  }

  //-------------- Media queries ----------------------------

  @media screen and (max-width: 360px) {
    .bannerHeader_container-homeTitle_h1{
        font-size: $h6;
    }
    .bannerHeader_container-homeTitle_h1{
        font-size: $h6;
    }
  }

  @keyframes zoom_inout {
    0% {
        transform: scale(1.4);
    }
    
    100% {
        transform: scale(1);
    }
  }