$color-txt-gray : #797879;
$color-bgGray : #cacdce;
$color-light_bgGray : #e5e6e7;
$color-orange : #fdaa05;
$color-darkOrange-1 : #d89205;
$color-txt-orange : #da9305;
$color-darkPurple : #512651;
$color-darkOrange : #141003;
$color-rgba_darkOrange : rgba(20, 16, 3, .9);
$color-rgba_darkOrange-1 : rgba(250, 169, 6, .3);
$color-rgba_darkPurple-1 : rgba(48, 5, 48, .9);

//Fonts -----------------------------------------
$font-yonane : 'Yanone Kaffeesatz', 'sans-serif';
$font-exo2 : 'Exo 2', 'sans-serif';
$font-teko : 'Teko', 'sans-serif';
$font-arvo : 'Arvo', 'sans-serif';
$font-tangerine : 'Tangerine', 'sans-serif';

//Font sizes ----------------------------------
$h1 : 5rem;
$h2 : 3.5rem;
$h3 : 2.5rem;
$h4 : 1.5rem;
$h5 : 1.2rem;
$h6 : 1rem;

//p text --------------------------------
$p3 : 1.7rem;
$p4 : 1.5rem;
$p5 : 1.3rem;
$p6 : 1.1rem;