$color-txt-gray : #8f8d8f;
$color-orange : #ffac05;
$color-txt-orange : #ffac05;
$color-darkPurple : #500250;
$color-darkOrange : #141003;

//Fonts -----------------------------------------
$font-yonane : 'Yanone Kaffeesatz';
$font-exo2 : 'Exo 2';
$font-teko : 'Teko';

//Font sizes ----------------------------------
$h1 : calc(4rem + 0.7vw);
$h3 : calc(1rem + 1vw);
$h5 : calc(1rem + 0.5vw);